{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Shuffler</title>
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'shuffler_styles.css' %}">
</head>
<body>

    <div id="wrapper">

        <div id="greeting_intro">

            <h1>

                WELCOME TO SHUFFLER

            </h1>

            <h4>

                Here you can put the items into a list and shuffle them.<br>
                Use this tool to shuffle items that you don't want to shuffle yourself.<br>
                Think books, practice exercises, songs, tasks, techniques, etc.<br>
                Save time by allowing me to shuffle these items for you.
            </h4>

        </div>

        <div id="input_and_list">

            <div id="input_box">

                <h2 id="notifier"></h2>

                <input type="text" id="input_area" placeholder="Item to add to list">

                <button id="add_to_list" onclick="addToList()">Add to list! >>></button>

            </div>

            <div id="current_list">

                <ul id="malleable_list">

                </ul>

                <button id="shuffle" onclick="shuffleThatShit()">Shuffle It Baby!</button>

            </div>

        </div>

    </div>

</body>

    <script src="{% static 'shuffler_scripts.js' %}"></script>

</html>