#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greeting_intro{
    text-align: center;
}

#input_and_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#input_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add_to_list{
    width: 20vh;
}

#current_list {
    display: flex;
    flex-direction: column;
    border: 5px black solid;
    margin-left: 4vh;
    background-color: black;
    border-radius: 20px;
    height: 68vh;
    width: 80vh;
}

#malleable_list{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    color: white;
    font-size: 1.2em;
    overflow-x: auto;
    overflow-y: scroll;
}

#notifier{
    display: none;
}
